body {
    font-family: Arial, sans-serif;
    background-color: #C3A6A0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: black;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    width: 20%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #f7f1f0;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 20%;
}

button:hover {
    background-color: #262220;
}

#error-message {
    margin-top: 10px;
}
