body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4ede4;
}

.header-bar {
    background-color: #4e342e;
    color: white;
    padding: 10px 20px;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_check {
    height:150px;
    width:150px;
        
}
.image-container{
    margin-top: 40px;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    height: 350px;
}
.text-success{
    font-weight:bold;
    margin-top: 10px;
    font-size:20px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.text-below{
    margin-top: 10px;
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-container{
    margin:0 auto;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid #4e342e; 
    border-radius: 8px; 
    padding: 10px; 
    margin-top: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

}
.text-info{
    font-size:15px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.button-back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #a15c38;
    border: none;
    border-radius: 8px;
    text-decoration: none; 
    cursor: pointer; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.button-back:hover {
    background-color: #d99069; 
    transform: scale(1.05);
}

